
<div class="container align-text-center">
  <div class="cards">
    <% @users.each do |user| %>
    <div class="card">
      <%= cl_image_tag("wactyaxnwhsrkb9srhkp", crop: :scale) %>
      <div class="card-body">
        <div class="user-info">

          <p><%= user.user_name %></p>
        </div>
        <div>
          <%= link_to "View Me!", user_path(user.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
