<div class="container">
  <h1>My search</h1>


  <div class="container">
    <div class="row"  >
    <% @users.each do |user| %>
      <div class="card col-6 col-sm-4">
        <div class="card-body">
        <%= user.user_name %><br/>
        <%= user.email %><br/>
        <%= user.cpf %><br/>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
     <% end %>
    </div>
  </div>

</div>
