<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('<%= image_path "back4.jpg" %>');">
    <div class="container text-center">

      <h1>Friend Zone</h1>
      <p>Never feel bored anymore!</p>
      <%= link_to 'Know more', user_session_path, class: 'btn btn-primary btn-lg mt-5' %>

    </div>
</div>

<div class="middle-backgroud">
  <div class="d-flex justify-content-around align-items-center">
    <div class="first-image">
      <img src="https://i.guim.co.uk/img/media/78c88d474f6230337428610eaa45d4ab12d08745/0_251_3000_1799/master/3000.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=c420f1eedf2d81e155de0c6690010695" alt="frieds pic">
    </div>

    <div>
      <h3>Whether you want to find a beer partner or climb a nearby mountain,</h3>
        <h3> with Friend Zone you can connect with anybody!</h3>
    </div>
  </div>

  <div class="d-flex justify-content-around align-items-center">
    <div>
      <h3>Feeling like a soccer player today? With Friend Zone,</h3>
      <h3> you can find nearby soccer groups to play!</h3>
    </div>

    <div class="first-image">
      <img src="https://i.pinimg.com/originals/60/dd/64/60dd64ef59eae800036a9f6fca6804a9.jpg" alt="frieds pic">
    </div>
  </div>

   <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <p>All rights reserved</p>
      </div>
    </div>



</div>
