<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/640/420);">
    <div class="container text-center">

      <h1>Friend Zone</h1>
      <p>Never feel bored anymore!</p>
      <%= link_to 'Go to Sign in', user_session_path, class: 'btn btn-primary btn-lg mt-5' %>

    </div>
</div>
